.row{margin-bottom:6px;overflow:hidden;margin-bottom:0;}
.row .portlet{height:227px;}
.section-front-page .breadcrumb{display:none}
.portletItemDetails{float:right;margin-right:1em;color:#000}.nav-tabs>li.active>a:hover{cursor:pointer}
#homepage .portletHeader {
background: url("http://images.315ok.org/xtshzz/images/portletheaderbg2.jpg") repeat-x scroll 0 0 transparent;
height: 29px;
margin: 0;
padding:0;
}
.portletItem,.rolltext li{line-height:1.6em;margin-left:-24px;list-style:none outside url(http://images.315ok.org/xtshzz/images/red_point.jpg);border-bottom:1px dashed #b4b4b4}
.tab-content{margin-top:14px}.tabcontent-lists .portletItem{margin-left:-16px}

